<div class="phase-box">
    <h2>Phase 2: Set a learning goal</h2>
 
    <p>Setting goals is critical to successful study. Goals increase motivation, effort, and persistence. In addition, goals create a standard that you can use to assess whether your study sessions are effective or not. If you set a goal and feel like you reached it, your study session was a success. If not, then you should reflect on why you did not reach your goal and how you can change your habits or strategies to meet your goals in the future.</p>
 
    <p>To set your goal, reflect on the information you previewed. It may also be helpful to look at your class syllabus and examine the topics covered in any upcoming tests or assignments.</p>
 
    <div class="meta-que">
        <p><img src="imgs/Icons/meta-que-icon.svg"
            width= "7%"
            height="auto"/>
        Ask yourself:
            <ul>
            <li> What information was I unfamiliar with in my preview?</li>
            <li>What topics will I need to know for upcoming assignments?</li>
            <li> Which topics are most important to focus on?</li>
            <li> Which topics will be the most difficult to understand?</li>
            </ul>
        </p>
    </div>
 
    <p>After reflecting on these questions, write down your learning goal. This will help you focus your attention to your goal and also make it feel more real. To aide in your goal setting use the following stem:</p>
 
    <input type="text" id="userGoal" placeholder="Write your learning goal here">
   
    <a href="#phase3" id="toPhase3">I have identified my goal</a>
</div>