<div class="phase-box">
    <h2>Phase 1: Preview your materials</h2>
    

	<p>The first step of any study session is to preview the information you are will be working with. By previewing, you are activating your prior knowledge about the content and preparing your brain to learn. Think about it as the scaffolding of a new building. Previewing builds the basic structure in your brain of the concepts you will be learning, which allows your brain to more easily make connections between new pieces of information.</p>

	<p>If you are working with a textbook, flips through the chapters you will be working with and look at the introduction, chapter headings, bold words, pictures, graphs, and summary. If you are working with a slideshow, look at the slide titles, key words, definitions, graphics, and foot notes. If you are working with your notes, look at the topics, summaries, underlined/highlighted information, and questions you have created.</p>

	<div class="meta-que">
       
         <img src="imgs/Icons/meta-que-icon.svg"
         width= "7%"
         height="auto"/>
   
       Ask yourself:
            <ul>
            <li>What do I already know about these concepts?</li>
            <li>What has my textbook/instructor said about these concepts?</li>
            <li>What might be the best strategy to learn this information?</li>
	        </ul>
       
    </div>
	<p> <a href="#phase2">I have previewed my materials</a> </p>
</div>