
<div class="phase-box">
    <h2>Phase 3: Choose a study strategy</h2>
 
    <p>Now that you have a learning goal, choose a study strategy that help you meet your goal. Search for a study strategy in our study strategy database that will fit your needs.</p>

    <p>How you study should depend on the subject. Historians read texts differently than scientists, and mathematicians think differently than writers. So, how you study for math should be different than how you study for English.</p>
 
    <select id="userSubject" name="userSubject">
        <option value="All" selected>All</option>
        <option value="English" >English</option>
        <option value="Humanities">Humanities</option>
        <option value="Social Studies">Social Studies</option>
        <option value="Liberal Arts">Liberal Arts</option>
        <option value="Math">Math</option>
        <option value="science">Science</option>
    </select>

    <select id="userType" name="userType">
      <option value="All" selected>All</option>
      <option value="Homework Problems" >Homework Problems</option>
      <option value="Lecture">Lecture</option>
      <option value="Reading">Reading</option>
      <option value="Test Prep">Test Prep</option>
      <option value="Review">Review</option>
      <option value="Science">Science</option>
  </select>
  <button id="submitSearchbtn">Submit</button>
   
  </div>



<div id="printGoal"></div>