<div class="blurb-box" id="cMap">
   <div class="blurb-text">
      <h2>Concept Maps</h2>
      <p>Concept mapping is a visual study strategy that organizes information into a web-like graphic. Students make connections between concepts learned in class and their own personal knowledge. Concepts mapping help students clarify what content they understand and what they need to to study more.</p>
      <div class="blurb-button" > 
         <button id="showsidebarbutton">showsidebarbutton</button>
        
      </div>
   </div>
  
   <div class="blurb-image">
      <img src="imgs/CM/CM-Icon.svg"
      width= "50%"
      height="auto"/>
   </div>
</div>

<div class="blurb-box" id="cNote">
  <div class="blurb-text">
     <h2>Cornell Notes</h2>
     <p>Cornell Notes are a notemaking strategy that allows you to easily record information from lectures and reading and to easily review that information for quizzes and tests. Cornell notes are a very flexible strategy that you can adapt to fit you own personal learning preferences.</p>
     <div class="blurb-button">
        </div>
  </div>
  <div class="blurb-image">
     <img src="imgs/CN/CN-icon.svg"
     width= "50%"
     height="auto"/>
  </div>
</div>

<div class="blurb-box" id="ann">
  <div class="blurb-text">
     <h2>Annotation</h2>
     <p>Annotation is active reading strategy in which you interact with and personalize information in the text you are reading. Effective annotation goes beyond highlighting key definitions. Proper annotation means actively looking for connections, relationships, main ideas, checking your understanding, and creating possible test questions.</p>
     <div class="blurb-button">
        </div>
  </div>
  <div class="blurb-image">
     <img src="imgs/A/A-Icon.svg"
     width= "60%"
     height="auto"/>
  </div>
</div>

<div class="blurb-box" id="tChart">
  <div class="blurb-text">
     <h2>T-Charts</h2>
     <p>T-Charts are a notemaking strategy that breaks down any problem into simple, step-by-step instructions. They will focus you on the process involved in solving a problem. By writing out your thoughts to each step, you will analyze how you think through each problem, resulting in a deeper learning.</p>
     <div class="blurb-button">
     </div>
  </div>
  <div class="blurb-image">
     <img src="imgs/TC/TC-Icon.svg"
     width= "50%"
     height="auto"/>
  </div>
</div>

<div class="blurb-box" id="hwt">
  <div class="blurb-text">
     <h2>Homework as a Test</h2>
     <p>Homework assigned by your instructors is an opportunity to check your understanding of the content you are learning. With this strategy, you will approach homework as if it were a test. You must work through problems in your homework without the use of your textbook and notes. This strategy challenges you to apply your knowledge and practice for tests and quizzes.</p>
     <div class="blurb-button">
        </div>
  </div>
  <div class="blurb-image">
     <img src="imgs/HWT/HWT-Icon.svg"
     width= "50%"
     height="auto"/>
  </div>
</div>